In [1]:
import pandas as pd
import numpy as np

In [3]:
products = ['A','B','C','D']
product_categories = pd.Series(products)
product_categories

0    A
1    B
2    C
3    D
dtype: object

In [7]:
type(product_categories)
type(pd.Series(product_categories))

pandas.core.series.Series

In [8]:
daily_rate_dollars = pd.Series([40,45,50,60])
daily_rate_dollars

0    40
1    45
2    50
3    60
dtype: int64

In [9]:
import numpy as np

In [11]:
array_a = np.array([10,20,30,40])
array_a

array([10, 20, 30, 40])

In [12]:
type(array_a)

numpy.ndarray

In [13]:
series_a = pd.Series(array_a)
print(series_a)
type(series_a)

0    10
1    20
2    30
3    40
dtype: int64

pandas.core.series.Series

In [13]:
"This is Review"

'This is Review'

In [20]:
random_series = pd.Series({"Donuts":12, "Bagels": 14, "Apple Pie": 247})
print(random_series.array, "\n")


data = [[10,20,30],[10,20,30]]
columns = ["First", "Second", "Third"]
index = [1,2]
random_DataFrame = pd.DataFrame(data = data, columns = columns, index = index)
print(random_DataFrame, "\n")

dictionary = {"Ones": [1, 10, 100, 11], "two": [2, 20, 200, 22], "Three": [3, 30, 300, 33]}
dictionary_DataFrame = pd.DataFrame(data = dictionary, index = [1,2,3,4])
print(dictionary_DataFrame, "\n" )

#This is ___ STUPID!!!
series_1 = pd.Series([1,2,3,4,5], index = ["red", "orange", "yellow", "green", "blue"])
series_2 = pd.Series([10,11,12,23,45], index = ["red", "orange", "yellow", "green", "blue"])
series_3 = pd.Series([100,100,100,100,100], index = ["red", "orange", "yellow", "green", "blue"])
Series_Dictionary = {"Series 1": series_1,  "Series 2": series_2, "Series 3": series_3,}
Wierd_DataFrame = pd.DataFrame(data = Series_Dictionary )
print(Wierd_DataFrame, "\n")

<NumpyExtensionArray>
[np.int64(12), np.int64(14), np.int64(247)]
Length: 3, dtype: int64

   First  Second  Third
1     10      20     30
2     10      20     30

   Ones  two  Three
1     1    2      3
2    10   20     30
3   100  200    300
4    11   22     33

        Series 1  Series 2  Series 3
red            1        10       100
orange         2        11       100
yellow         3        12       100
green          4        23       100
blue           5        45       100

In [25]:
Bullsht_Series = pd.Series([123,542,654543,7707,2323,6745326534,7904,1111,1122213213])
print(Bullsht_Series.sort_values(ascending = False))

5    6745326534
8    1122213213
2        654543
6          7904
3          7707
4          2323
7          1111
1           542
0           123
dtype: int64

In [26]:
"This is the part where I do something stupid"

'This is the part where I do something stupid'

In [1]:
#import nltk
#nltk.dowload('stopwords)

In [1]:
sentence = "THIS IS A TEST OF A FUNCTION"
sentence.lower()
sentence

'THIS IS A TEST OF A FUNCTION'

In [2]:
import re

In [4]:
my_folder = r"this moron \n is stupid"   #we added an "r" before the string 
print(my_folder)

this moron \n is stupid

In [15]:
dumb_sentence = "This is a really long string. Let see if this dumbass program can find any patterns using regex!!!"
pattern_to_find = r"^T"
pattern_to_find2 = r"!$"
print(re.search(pattern_to_find2, dumb_sentence))

<re.Match object; span=(97, 98), match='!'>

In [20]:
random_paragraph = """Terrance knew that sometimes it was simply best to stay out of it. 
                      He kept repeating this to himself as he watched the scene unfold.
                      He knew that nothing good would come of him getting involved. 
                      It was far better for him to stay on the sidelines and observe.
                      He kept yelling this to himself inside his head as he walked over to the couple and punched the man in the face."""
pattern_to_find = r"(Terrance|Phillip)"
print(re.search(pattern_to_find,random_paragraph))

<re.Match object; span=(0, 8), match='Terrance'>

In [ ]:
pattern_to_find = r"[^\w\s]"
#[^] carrot symbol and bracket means "not"
#\w means word
#\s means white space
#Were looking for pattern that is not a word or a white space --> looking for punctuation

In [21]:
"Regex is useful for filtering through data and finding certain patterns"

'Regex is useful for filtering through data and finding certain patterns'

In [3]:
import pandas as pd
import numpy as np
pd.set_option("display.max_rows", 5)
data = pd.read_csv("tripadvisor_hotel_reviews.csv")
data.iloc[[0,1,20,25], 0:2]

                                               Review  Rating
0   nice hotel expensive parking got good deal sta...       4
1   ok nothing special charge diamond member hilto...       2
20  service service service spent week g-friend la...       5
25  n't mind noise place great, read reviews noise...       3

In [13]:
print(data.Rating.describe(), "\n \n", data.Review.describe())
#print(data.Rating.mean(), "\n \n", data.Review.unique())   They are all unique so it will print the entire paragraph.

count    109.000000
mean       3.743119
            ...
75%        5.000000
max        5.000000
Name: Rating, Length: 8, dtype: float64

 count                                                   109
unique                                                  109
top       nice hotel expensive parking got good deal sta...
freq                                                      1
Name: Review, dtype: object

In [28]:
subtracted = data.Rating.map(lambda p : p- data.Rating.mean())
subtracted

0      0.256881
1     -1.743119
         ...
107    1.256881
108    1.256881
Name: Rating, Length: 109, dtype: float64

In [35]:
applied = data.Rating.apply(lambda x: [1,2]) #if you try to use .apply() with axis specified on a series it will produce an error
#there is no axis to even consider

In [36]:
"map() is more of applying it to each element seperately, while apply() may use multiple elements within the same axis for a single answer"

'map() is more of applying it to each element seperately, while apply() may use multiple elements within the same axis for a single answer'